<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">C0VID-19 Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard <span class="sr-only" routerLinkActive='active'>(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['latest-news']" routerLinkActive='active'>Latest News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['precautions']" routerLinkActive='active'>Precautions</a>
        </li>
        <li class="nav-item"  *ngIf="loggedin" >
          <a class="nav-link" [routerLink]="['add-news']" routerLinkActive='active'>Add News</a>
        </li>
      </ul>
      <button *ngIf="!loggedin" class="btn btn-primary" [routerLink]="['/login']" >
        Login
      </button>
      <button *ngIf="loggedin" class="btn btn-primary" (click)="logout()">
        Logout
      </button>
     
    </div>
  </nav>
<router-outlet></router-outlet>
