<table class="col-md-12 table table-sm table-bordered" style="font-size: medium;">
    <thead>
        <tr style="background-color:  lightgrey;">
            <th>Distict</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Recovered</th>
            <th>Deaths</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dist of districtData">
            <td>{{dist.districtName}}</td>
            <td>{{dist.confirmed}}</td>
            <td>{{dist.active}}</td>
            <td>{{dist.recovered}}</td>
            <td>{{dist.deaths}}</td>
        </tr>
    </tbody>
</table>