<div class="container">
    <div class="container-fluid">
        <h3>To prevent the spread of COVID-19:</h3>
        <ul>
            <li>
                Clean your hands often. Use soap and water, or an alcohol-based hand rub.
            </li>
            <li>
                Maintain a safe distance from anyone who is coughing or sneezing.
            </li>
            <li>
                Don’t touch your eyes, nose or mouth.
            </li>
            <li>
                Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
            </li>
            <li>
                Stay home if you feel unwell.
            </li>
            <li>
                If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.
            </li>
            <li>
                Follow the directions of your local health authority.
            </li>
        </ul>
    </div>
</div>

